*{
    /* background-color: rgb(217, 217, 217, 100%); */
    /* background: linear-gradient(180deg, #7FBAF5 0%, #1E0A9D 98.95%, rgba(95, 172, 249, 0.00) 98.96%);
 */


}


.sidebar{
    /* width: 1440px; */
    /* height: 1024px; */
    background: linear-gradient(180deg, #7FBAF5 0%, #1E0A9D 98.95%, rgba(95, 172, 249, 0.00) 98.96%);
    
   >div{
   
      >img{
        width: 316px;
        /* height: 258px; */
        /* background: rgb(68, 34, 240) 50% / cover no-repeat; */
      }
      >p{
        width: 406px;
        /* height: 161px; */
        flex-shrink: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      >img{
        width: 268px;
        /* height: 232px; */
        flex-shrink: 0;
        background: cover no-repeat;
      }
    }
    >.form{
       
        /* width: 557px;
        height: 719px;
        flex-shrink: 0;
        background: linear-gradient(180deg, #D9D9D9 99.99%, rgba(217, 217, 217, 0.00) 100%);
        justify-content: right;
        >h1{
            display: flex;
            width: 422px;
            flex-direction: column;
            /* align-items: flex-start; 
             gap: 8px; */
             width: 50%;
             /* height: 100vh; */
             background:linear-gradient(180deg, #D9D9D9 99.99%, rgba(217, 217, 217, 0.00) 100%);
             position:absolute;
             top: 0;
            right: 0;
            left:50%;
             display: flex;
            justify-content: center;
            align-items: center;

        }
    

    }
